Flask==3.0.3
Flask-Cors==5.0.0
SQLAlchemy==2.0.35
pydantic==2.8.2
pydantic-settings==2.3.4
python-dotenv==1.0.1
pytest==8.3.3
alembic==1.11.1
psycopg2-binary
gunicorn
passlib[bcrypt]
python-multipart
twilio
pandas
itsdangerous
setuptools
